
/*html {
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
}

body {
    margin: 0;
    height:100%;
}*/

/*a {
    color: #fff;
    text-decoration: none;
    outline: none;
}*/

/*#container div{
    float:left;
}*/
/*.container-sub{
    float:left;
}*/


a:hover{
    text-decoration:none;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

.navbar-right {
    float: right !important;
}

.navbar-nav {
    margin: 0;
}

body {
    padding-top: 55px;
    padding-bottom:40px;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*****************************/
/* Login */
/*****************************/
#login-container {
    display: none;
    height: 200px;
    width: 400px;
    background-color: white;
}

#login-list {
    list-style-type: none;
}

    #login-list li {
        list-style-type: none;
    }

.navigation-link{
    display:block; 
    text-align:center; 
    font-size:2em; 
    text-decoration:none !important;
}
.navigation-link span{
    font-size:0.5em; 
    display:block;
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.ticket-detail input{
    width:100%;
}


/*Chat*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.chat-time{
    font-size:10px;
    text-indent: 3px;
}
.chat-box{
    -webkit-border-radius: 53px 53px 37px 53px;
    -moz-border-radius: 53px 53px 37px 53px;
    border-radius: 53px 53px 37px 53px;
    background-color:#40F2FF;
    padding:15px;
}
.chat-box-other-user{
    background-color:#FFE8E8;
}

.panel-body
{
    /*overflow-y: scroll;*/
    /*height: 500px;*/
}

/*.panel-footer{
    position:fixed;
    bottom:0;
}*/

/*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}*/

/*****************************/
/* Banner */
/*****************************/
/*.banner-container {
    background: #2dc3e8;
    position: fixed;
    height:7%;
    top: 0;
    right: 0;
    left: 0;
}

.banner ul {
    
    margin:0;
    list-style: none;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

    .banner ul li {
        position: relative;
            text-align: right;
        z-index: 1;
        display: block;
        margin: 0;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

     .round {
                border-radius: 50%;
                overflow: hidden;
                width: 50px;
                height: 50px;
                margin-left: auto;
                margin-right: 10px;
            }
            .round img {
                display: block;
                height: 45px;  
                width:45px;
        
            min-width: 100%;
            min-height: 100%;
            }*/


/*****************************/
/* Navigation Tabs */
/*****************************/

/*.navigation-wrapper{
    position:fixed;
    bottom:0px;
    width:100%;
    height:9%;
        max-height: 50px;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: #A2A2A2;
    height:100%;
}

    .tabs nav {
        text-align: center;
        height:100%;
    }

        .tabs nav ul {
            position: relative;
            height:100%;
            padding-left:0;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            margin: 0 auto;
            
            max-width: 1200px;
            list-style: none;
            -ms-box-orient: horizontal;
            -ms-box-pack: center;
            -webkit-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
        }

            .tabs nav ul li {
                height:100%;
                position: relative;
                z-index: 1;
                display: block;
                margin: 0;
                text-align: center;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

        .tabs nav a {
            height:100%;
            padding-top: 3%;
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.6em;
        }

            .tabs nav a span {
                vertical-align: middle;
                font-size: 0.5em;
                font-weight:lighter;
                display:block;
                 font-family: Arial, Helvetica, sans-serif;
            }

        .tabs nav li.tab-current a {
            color: #74777b;
        }

        .tabs nav a:focus {
            outline: none;
        }*/




/*****************************/
/* Flight ticket */
/*****************************/
.flight-ticket {
    background: url('/img/ticket.jpg');
    border: solid #d5d5d5 1px;
    margin: 10px auto;
    max-width: 700px;
    height: 210px;
    padding: 10px;
    font-size: 1em;
}

    .flight-ticket label {
        color: #9c9c9c;
    }

.flight-ticket-field {
    text-transform: uppercase;
    border-bottom: solid 1px #ebebeb;
}

.flight-ticket-left {
    width: 70%;
    height: 100%;
    float: left;
}

    .flight-ticket-left div:first-child {
        position: relative;
    }

.flight-ticket-left-top {
    height: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 1px dashed #BBBBBB;
}

.flight-ticket-left-right {
    width: 50%;
    float: left;
    display: block;
    text-align: left;
}



.flight-ticket-barcode {
    width: 7%;
    float: left;
    height: 100%;
}



    .flight-ticket-barcode div:first-child {
        position: relative;
        height: 100%;
    }

.flight-ticket-right {
    width: 22%;
    float: left;
    height: 100%;
    border-left: 2px #B5B6B7 dashed;
}

    .flight-ticket-right div:first-child {
        position: relative;
        height: 100%;
    }

.flight-ticket-right-inner {
    position: absolute;
    text-align: left;
    display: block;
    margin-top: 30%;
    width: 90%;
    padding: 10px;
}
